## nhập dữ liệu

In [1]:
import pandas as pd
import numpy as np
print('khai báo thành công')

khai báo thành công

In [3]:
data = pd.read_csv('shopeep_koreantop_clothing_shop_data.csv', header=0,encoding='ISO-8859-1')
print('nhập dữ liệu thành công')
display(data)
data.info()

nhập dữ liệu thành công

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,20210706449182992,2021-07-06,449182992,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay",0,32,0,5.00,0,0
742,20210706396605392,2021-07-06,396605392,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN,1,9,0,4.60,0,0
743,20210706360379308,2021-07-06,360379308,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN,16,463,16,4.75,1,0
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0
745,2021070625811092,2021-07-06,25811092,angelcity.ð,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   pk_shop             746 non-null    int64
 1   date_collected      746 non-null    object
 2   shopid              746 non-null    int64
 3   name                746 non-null    object
 4   join_month          746 non-null    object
 5   join_day            746 non-null    int64
 6   join_year           746 non-null    int64
 7   item_count          746 non-null    int64
 8   follower_count      746 non-null    int64
 9   response_time       746 non-null    object
 10  response_rate       746 non-null    int64
 11  shop_location       428 non-null    object
 12  rating_bad          746 non-null    int64
 13  rating_good         746 non-null    int64
 14  rating_normal       746 non-null    int64
 15  rating_star         740 non-null    float64
 16  is_shopee_verified  746 non-null    int64
 17  is_official_shop    746 non-null    int64
dtypes: float64(1), int64(12), object(5)
memory usage: 105.0+ KB

## lọc dữ liệu

In [6]:
data.loc[:,'name']

0              hello.may.ph
1           love.women.shop
2             R&O RedOrange
3               patriciacai
4      Little Market Manila
               ...
741       Yacent_thrift_Clo
742             Akistore.ph
743            Yzanice Shop
744          Clairecvc Shop
745          angelcity.ð
Name: name, Length: 746, dtype: object

In [8]:
data.loc[:,['name','shop_location']]

                     name               shop_location
0            hello.may.ph                         NaN
1         love.women.shop    San Nicolas,Metro Manila
2           R&O RedOrange     Pasay City,Metro Manila
3             patriciacai        Binondo,Metro Manila
4    Little Market Manila  Caloocan City,Metro Manila
..                    ...                         ...
741     Yacent_thrift_Clo          Legazpi City,Albay
742           Akistore.ph                         NaN
743          Yzanice Shop                         NaN
744        Clairecvc Shop        Binondo,Metro Manila
745        angelcity.ð     Pasay City,Metro Manila

[746 rows x 2 columns]

In [9]:
data.loc[:,'name':'shop_location']

,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location
0,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN
1,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila"
2,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila"
3,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila"
4,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila"
...,...,...,...,...,...,...,...,...,...
741,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay"
742,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN
743,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN
744,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila"
745,angelcity.ð,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila"

In [10]:
data.loc[222,:]

pk_shop               20210621417317962
date_collected               2021-06-21
shopid                        417317962
name                         MEIMEITALL
join_month                        April
join_day                              5
join_year                          2021
item_count                          477
follower_count                     1430
response_time                  09:20:04
response_rate                        96
shop_location                       NaN
rating_bad                            7
rating_good                         471
rating_normal                        19
rating_star                        4.82
is_shopee_verified                    1
is_official_shop                      0
Name: 222, dtype: object

In [13]:
data.loc[[222,444,666],:]

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
222,20210621417317962,2021-06-21,417317962,MEIMEITALL,April,5,2021,477,1430,09:20:04,96,NaN,7,471,19,4.82,1,0
444,20210628401079546,2021-06-28,401079546,Huidong,March,11,2021,22,533,09:02:00,91,"Sampaloc,Metro Manila",0,177,8,4.79,0,0
666,2021070647114599,2021-07-06,47114599,Simplediva,December,9,2017,79,34690,09:52:02,91,"Valenzuela City,Metro Manila",797,64748,2156,4.82,1,0

In [14]:
data.loc[100:200,:]

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
100,2021061339587061,2021-06-13,39587061,wolfzone online shop,October,20,2017,526,32253,11:21:13,63,"Bacoor,Cavite",1932,43963,3345,4.61,0,0
101,20210613315447242,2021-06-13,315447242,liwen.ph,September,28,2020,219,749,08:13:15,93,NaN,32,283,29,4.38,0,0
102,20210613266644184,2021-06-13,266644184,JUNEtime Shop,May,26,2020,931,32425,09:18:17,99,NaN,631,15205,1311,4.60,1,0
103,20210613302250255,2021-06-13,302250255,Zero Tide Hanbok,August,28,2020,747,11616,08:46:11,96,NaN,128,3757,314,4.63,0,0
104,2021061351801232,2021-06-13,51801232,DriFIT,January,10,2018,62,15443,10:43:03,95,"Valenzuela City,Metro Manila",278,22580,796,4.82,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,20210621299396535,2021-06-21,299396535,Pretty Comy Women Fashion,August,21,2020,564,67148,10:41:17,88,NaN,88,13851,343,4.88,0,0
197,2021062112280641,2021-06-21,12280641,R Squared PH,November,12,2016,97,62492,11:45:37,69,"Taytay,Rizal",310,30950,1080,4.84,1,0
198,2021062125587666,2021-06-21,25587666,Kily.Ph Online,June,15,2017,326,1172325,12:02:33,73,"Taytay,Rizal",16183,877459,40603,4.77,1,0
199,2021062136365595,2021-06-21,36365595,korean terno dress,September,27,2017,369,48268,10:17:14,63,"Binondo,Metro Manila",2359,33645,3738,4.46,0,0
200,20210621276895504,2021-06-21,276895504,MC.com,June,22,2020,264,26942,10:51:12,29,"Valenzuela City,Metro Manila",1258,23096,2342,4.53,0,0

In [15]:
data.loc[300:400,'rating_bad':'rating_star']

     rating_bad  rating_good  rating_normal  rating_star
300           8          449             31         4.72
301         130         3831            319         4.63
302        2415        69278           4317         4.67
303          98         1586            139         4.53
304        5123       659093          14751         4.88
..          ...          ...            ...          ...
396          96         3588            241         4.70
397          27         8131            154         4.91
398          11          701             29         4.82
399          29          890             74         4.65
400        3332        75478           6467         4.58

[101 rows x 4 columns]

## hàm filter

In [17]:
# data.filter([tên cột,])[chỉ số dòng:chỉ số dòng]

data.filter(['name'])[:]

                     name
0            hello.may.ph
1         love.women.shop
2           R&O RedOrange
3             patriciacai
4    Little Market Manila
..                    ...
741     Yacent_thrift_Clo
742           Akistore.ph
743          Yzanice Shop
744        Clairecvc Shop
745        angelcity.ð

[746 rows x 1 columns]

In [18]:
data.filter(['name','shop_location'])[:]

                     name               shop_location
0            hello.may.ph                         NaN
1         love.women.shop    San Nicolas,Metro Manila
2           R&O RedOrange     Pasay City,Metro Manila
3             patriciacai        Binondo,Metro Manila
4    Little Market Manila  Caloocan City,Metro Manila
..                    ...                         ...
741     Yacent_thrift_Clo          Legazpi City,Albay
742           Akistore.ph                         NaN
743          Yzanice Shop                         NaN
744        Clairecvc Shop        Binondo,Metro Manila
745        angelcity.ð     Pasay City,Metro Manila

[746 rows x 2 columns]

In [19]:
data.filter(['name','shop_location'])[:]

                     name               shop_location
0            hello.may.ph                         NaN
1         love.women.shop    San Nicolas,Metro Manila
2           R&O RedOrange     Pasay City,Metro Manila
3             patriciacai        Binondo,Metro Manila
4    Little Market Manila  Caloocan City,Metro Manila
..                    ...                         ...
741     Yacent_thrift_Clo          Legazpi City,Albay
742           Akistore.ph                         NaN
743          Yzanice Shop                         NaN
744        Clairecvc Shop        Binondo,Metro Manila
745        angelcity.ð     Pasay City,Metro Manila

[746 rows x 2 columns]

In [20]:
data.filter(['name':'shop_location'])[:] => không dùng dc

SyntaxError: invalid syntax (3450768977.py, line 1)

## dùng điều kiện

In [22]:
# df[df[tên cột]
data[data['join_month']=='June']

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
31,20210613277581138,2021-06-13,277581138,John see way's shop.ph,June,24,2020,426,3256,09:37:23,95,NaN,13,734,26,4.79,0,0
40,20210613276428558,2021-06-13,276428558,cottonandbuttons,June,20,2020,47,4650,10:58:45,47,"Taytay,Rizal",19,2832,95,4.85,0,0
46,20210613275875058,2021-06-13,275875058,small__tomato.ph,June,19,2020,495,81352,09:56:42,94,NaN,424,19152,1072,4.73,0,0
61,20210613274192652,2021-06-13,274192652,Kate's Corner,June,14,2020,54,2711,09:42:10,78,"Santo Tomas,Batangas",6,782,19,4.88,0,0
66,2021061374965889,2021-06-13,74965889,its.la.mode,June,17,2018,14,2665,09:30:18,58,"Cainta,Rizal",0,202,2,4.90,0,0
67,20210613273590933,2021-06-13,273590933,Korean. House,June,12,2020,619,3502,08:00:13,100,NaN,37,1265,89,4.68,0,0
68,20210613271800741,2021-06-13,271800741,1989minishop,June,7,2020,120,21583,12:23:35,62,"Pasay City,Metro Manila",278,19107,943,4.79,0,0
99,20210613273569988,2021-06-13,273569988,sy1688,June,12,2020,229,8734,11:20:07,17,"Paranaque City,Metro Manila",456,6662,666,4.50,0,0
105,20210613156756973,2021-06-13,156756973,huiluotuo.ph,June,20,2019,383,10123,11:14:21,80,NaN,322,6228,529,4.57,0,0
123,20210613276895504,2021-06-13,276895504,MC.com,June,22,2020,261,26457,10:33:07,34,"Pasay City,Metro Manila",1220,22394,2265,4.53,0,0
134,202106136381125,2021-06-13,6381125,somura.ph,June,3,2016,1490,253606,10:13:44,95,"Quezon City,Metro Manila",1702,200469,5498,4.86,0,0
143,20210613462140676,2021-06-13,462140676,YULINMM.ph,June,8,2021,109,48,08:29:42,100,NaN,0,0,0,NaN,0,0
150,2021061325811092,2021-06-13,25811092,angelcity.ð,June,17,2017,249,826733,09:48:26,31,"Pasay City,Metro Manila",12714,663959,28901,4.77,0,0
159,2021061325717546,2021-06-13,25717546,Vivena,June,16,2017,712,188046,11:40:56,68,"Santa Cruz,Metro Manila",1995,214465,6286,4.85,0,0
176,2021062125717546,2021-06-21,25717546,Vivena,June,16,2017,714,189108,11:28:00,67,"Santa Cruz,Metro Manila",2026,218948,6399,4.85,0,0
198,2021062125587666,2021-06-21,25587666,Kily.Ph Online,June,15,2017,326,1172325,12:02:33,73,"Taytay,Rizal",16183,877459,40603,4.77,1,0
200,20210621276895504,2021-06-21,276895504,MC.com,June,22,2020,264,26942,10:51:12,29,"Valenzuela City,Metro Manila",1258,23096,2342,4.53,0,0
204,20210621276428558,2021-06-21,276428558,cottonandbuttons,June,20,2020,47,5138,11:04:43,41,"Taytay,Rizal",23,3045,99,4.85,0,0
214,20210621273094218,2021-06-21,273094218,xiaoyi.ph,June,11,2020,126,52192,08:34:25,99,NaN,127,15456,463,4.85,1,0
219,20210621155121457,2021-06-21,155121457,Aileen Fashion,June,13,2019,978,3868,10:13:50,80,"San Nicolas,Metro Manila",27,8058,154,4.91,0,0
238,20210621275875058,2021-06-21,275875058,small__tomato.ph,June,19,2020,2648,83086,10:00:39,95,NaN,429,19397,1081,4.74,0,0
262,20210621270376961,2021-06-21,270376961,Trendy Tops below 99,June,4,2020,11,2039,09:36:40,51,"Taytay,Rizal",6,882,25,4.87,0,0
278,20210621156756973,2021-06-21,156756973,huiluotuo.ph,June,20,2019,375,10236,11:20:27,82,NaN,333,6312,541,4.56,0,0
289,202106216928162,2021-06-21,6928162,BlusaAtbp (by Sasha),June,17,2016,211,32705,10:38:36,95,"Taytay,Rizal",53,38049,299,4.95,0,0
297,20210621277380946,2021-06-21,277380946,Men's Clothing Oolong Club,June,23,2020,465,9404,10:03:37,95,NaN,332,4506,469,4.47,0,0
341,20210621275072879,2021-06-21,275072879,PRLcloset,June,16,2020,64,7502,12:18:54,49,"Antipolo City,Rizal",33,3430,119,4.83,0,0
343,2021062125811092,2021-06-21,25811092,angelcity.ð,June,17,2017,253,841621,09:46:46,29,"Pasay City,Metro Manila",13024,682209,29746,4.77,0,0
359,20210628468959708,2021-06-28,468959708,ðTrendy girlð,June,17,2021,99,152,09:51:51,30,"Sampaloc,Metro Manila",0,96,0,5.00,0,0
382,20210628273094218,2021-06-28,273094218,xiaoyi.ph,June,11,2020,196,56827,08:28:20,94,NaN,132,16574,492,4.85,1,0
397,20210628155121457,2021-06-28,155121457,Aileen Fashion,June,13,2019,992,3898,10:11:05,80,"San Nicolas,Metro Manila",27,8131,154,4.91,0,0
416,20210628271800741,2021-06-28,271800741,1989minishop,June,7,2020,122,22977,12:24:28,61,"Pasay City,Metro Manila",291,20269,991,4.79,0,0
421,20210628273201142,2021-06-28,273201142,Women's blouse-Crop Top,June,11,2020,1451,30919,12:00:15,69,NaN,117,13294,442,4.84,0,0
466,2021062875150237,2021-06-28,75150237,ykmencollection,June,18,2018,69,1779,09:43:13,43,"Pasay City,Metro Manila",20,2397,63,4.86,0,0
486,20210628157053609,2021-06-28,157053609,love it shopping,June,21,2019,344,18604,11:43:38,71,"Santa Cruz,Metro Manila",476,28443,1341,4.77,0,0
488,20210628156756973,2021-06-28,156756973,huiluotuo.ph,June,20,2019,358,10322,11:21:07,77,NaN,338,6361,548,4.56,0,0
495,2021062825811092,2021-06-28,25811092,angelcity.ð,June,17,2017,258,854216,09:52:57,32,"Pasay City,Metro Manila",13236,697397,30410,4.77,0,0
513,20210628275875058,2021-06-28,275875058,small__tomato.ph,June,19,2020,500,83892,10:04:59,97,NaN,433,19683,1098,4.74,0,0
536,20210628456337069,2021-06-28,456337069,Harajuku T-shirt,June,1,2021,58,126,11:59:08,48,"Quezon City,Metro Manila",6,82,6,4.51,0,0
543,20210706461815350,2021-07-06,461815350,DSKJAA.ph,June,8,2021,868,71,08:47:31,100,NaN,0,0,0,NaN,0,0
581,20210706273094218,2021-07-06,273094218,xiaoyi.ph,June,11,2020,197,60573,08:27:19,96,NaN,141,17498,508,4.86,1,0
584,20210706273201142,2021-07-06,273201142,Women's blouse-Crop Top,June,11,2020,1521,31680,11:49:11,74,NaN,117,13453,448,4.84,0,0
591,20210706462140676,2021-07-06,462140676,YULINMM.ph,June,8,2021,224,231,08:27:28,97,NaN,0,35,1,4.92,1,0
604,20210706155121457,2021-07-06,155121457,Aileen Fashion,June,13,2019,1013,3945,10:01:56,84,"San Nicolas,Metro Manila",29,8211,154,4.91,0,0
623,20210706467411881,2021-07-06,467411881,xinyuanmeifushi.ph,June,15,2021,129,280,10:04:28,85,NaN,0,4,0,5.00,0,0
663,20210706277380946,2021-07-06,277380946,Men's Clothing Oolong Club,June,23,2020,438,9911,10:03:31,96,NaN,347,4759,496,4.47,0,0
678,2021070675150237,2021-07-06,75150237,ykmencollection,June,18,2018,70,1797,10:03:52,49,"Pasay City,Metro Manila",21,2421,63,4.86,0,0
698,20210706154035407,2021-07-06,154035407,happyeveryday888,June,8,2019,236,27981,11:15:25,87,"Pasay City,Metro Manila",660,25889,1816,4.69,0,0
699,20210706156756973,2021-07-06,156756973,huiluotuo.ph,June,20,2019,376,10422,11:14:20,75,NaN,341,6417,553,4.56,0,0
708,20210706456337069,2021-07-06,456337069,Harajuku T-shirt,June,1,2021,58,336,12:15:55,55,"Quezon City,Metro Manila",8,169,13,4.60,0,0
745,2021070625811092,2021-07-06,25811092,angelcity.ð,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0

In [24]:
data[data['rating_good']>500]

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738,20210706419954100,2021-07-06,419954100,Fall in love with you,April,9,2021,662,12968,09:33:28,59,NaN,21,1092,63,4.75,0,0
739,2021070664360491,2021-07-06,64360491,Yzkzks.ph,April,9,2018,650,80591,10:41:36,92,"Pasay City,Metro Manila",385,55669,1161,4.89,0,0
740,2021070616590993,2021-07-06,16590993,Adol Janet,February,14,2017,473,513469,12:55:27,78,"Binondo,Metro Manila",2506,297528,9597,4.84,0,0
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0
745,2021070625811092,2021-07-06,25811092,angelcity.ð,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0

In [27]:
data[data['rating_good']>1000].loc[:,['name','shop_location','rating_good']]

                      name               shop_location  rating_good
0             hello.may.ph                         NaN        17510
1          love.women.shop    San Nicolas,Metro Manila         2656
2            R&O RedOrange     Pasay City,Metro Manila      1071829
3              patriciacai        Binondo,Metro Manila        18959
4     Little Market Manila  Caloocan City,Metro Manila        39252
..                     ...                         ...          ...
738  Fall in love with you                         NaN         1092
739              Yzkzks.ph     Pasay City,Metro Manila        55669
740            Adol Janet         Binondo,Metro Manila       297528
744         Clairecvc Shop        Binondo,Metro Manila       103289
745         angelcity.ð     Pasay City,Metro Manila       708666

[531 rows x 3 columns]

In [40]:
data[(data['rating_bad']<200)&(data['join_year']<=2018)&(data['is_shopee_verified']==1)].loc[:,['name','join_year','rating_bad','is_shopee_verified']]

                             name  join_year  rating_bad  is_shopee_verified
3                     patriciacai       2017          44                   1
54                    ELfille 2.0       2017          15                   1
178                   patriciacai       2017          44                   1
379              The Hopeful Shop       2018          76                   1
439  Korean fashion bags and tee.       2018           9                   1
464                  mensclothes1       2018         113                   1
516                   patriciacai       2017          44                   1
593  Korean fashion bags and tee.       2018           9                   1
707              DA&ABOUT THE FIT       2018           9                   1

In [42]:
data[data['shop_location'].str.contains('Manila')==True]

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0
8,20210613312874722,2021-06-13,312874722,Shopping Center boutique,September,22,2020,286,110539,10:14:49,76,"San Nicolas,Metro Manila",679,28651,2027,4.70,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
734,2021070650114777,2021-07-06,50114777,BCUA Lingerie Bra and Panty,December,28,2017,534,113865,11:16:00,55,"Pasay City,Metro Manila",6389,325315,14994,4.77,0,0
739,2021070664360491,2021-07-06,64360491,Yzkzks.ph,April,9,2018,650,80591,10:41:36,92,"Pasay City,Metro Manila",385,55669,1161,4.89,0,0
740,2021070616590993,2021-07-06,16590993,Adol Janet,February,14,2017,473,513469,12:55:27,78,"Binondo,Metro Manila",2506,297528,9597,4.84,0,0
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0
745,2021070625811092,2021-07-06,25811092,angelcity.ð,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0

## lệnh truy vấn Query()

In [47]:
#dfquery((so sánh 1 ) and(so sánh 2)
data.query("(rating_good>1000)and(rating_star>4)").filter(['name','shop_location'])

                      name               shop_location
0             hello.may.ph                         NaN
1          love.women.shop    San Nicolas,Metro Manila
2            R&O RedOrange     Pasay City,Metro Manila
3              patriciacai        Binondo,Metro Manila
4     Little Market Manila  Caloocan City,Metro Manila
..                     ...                         ...
738  Fall in love with you                         NaN
739              Yzkzks.ph     Pasay City,Metro Manila
740            Adol Janet         Binondo,Metro Manila
744         Clairecvc Shop        Binondo,Metro Manila
745         angelcity.ð     Pasay City,Metro Manila

[531 rows x 2 columns]

In [51]:
data.query("(rating_bad<200)and(join_year<=2017)and(is_shopee_verified ==1)").filter(['name','shop_location'])

            name               shop_location
3    patriciacai        Binondo,Metro Manila
54   ELfille 2.0  Marikina City,Metro Manila
178  patriciacai        Binondo,Metro Manila
516  patriciacai        Binondo,Metro Manila

In [55]:
data.query("shop_location.str.contains('Manila')==True").filter(['name','shop_location'])

                            name               shop_location
1                love.women.shop    San Nicolas,Metro Manila
2                  R&O RedOrange     Pasay City,Metro Manila
3                    patriciacai        Binondo,Metro Manila
4           Little Market Manila  Caloocan City,Metro Manila
8       Shopping Center boutique    San Nicolas,Metro Manila
..                           ...                         ...
734  BCUA Lingerie Bra and Panty     Pasay City,Metro Manila
739                    Yzkzks.ph     Pasay City,Metro Manila
740                  Adol Janet         Binondo,Metro Manila
744               Clairecvc Shop        Binondo,Metro Manila
745               angelcity.ð     Pasay City,Metro Manila

[327 rows x 2 columns]

In [61]:
data.rename(columns={'shop_location':'shop location'},inplace = True)
data

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,20210706449182992,2021-07-06,449182992,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay",0,32,0,5.00,0,0
742,20210706396605392,2021-07-06,396605392,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN,1,9,0,4.60,0,0
743,20210706360379308,2021-07-06,360379308,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN,16,463,16,4.75,1,0
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0
745,2021070625811092,2021-07-06,25811092,angelcity.ð,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0

In [63]:
data.query("`shop location`.str.contains('Manila')==True").filter(['name','shop_location'])

                            name
1                love.women.shop
2                  R&O RedOrange
3                    patriciacai
4           Little Market Manila
8       Shopping Center boutique
..                           ...
734  BCUA Lingerie Bra and Panty
739                    Yzkzks.ph
740                  Adol Janet
744               Clairecvc Shop
745               angelcity.ð

[327 rows x 1 columns]

## Gom nhóm dữ liệu

In [64]:
data.groupby('name')['item_count'].sum()

name
 Youku Shangyi fashion store       771
 Zanzea Women's Apparel           1567
(MEILUN)Men's Fashion              128
1989minishop                       242
5ngyzt5ebj                         199
                                  ...
zhufeng2.ph                        437
â­ï¸Pink Star Korea Fashion      382
å°é¾ä¸åââæ¥ç¨ç¾è´§     118
ð¿ Peppermint Shop              4206
ðTrendy girlð                 99
Name: item_count, Length: 391, dtype: int64

In [65]:
data.groupby('name')['rating_bad','rating_good','rating_normal'].sum()

C:\Users\MY HOA\AppData\Local\Temp\ipykernel_13084\4156264070.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data.groupby('name')['rating_bad','rating_good','rating_normal'].sum()

                                rating_bad  rating_good  rating_normal
name
 Youku Shangyi fashion store             0           22              1
 Zanzea Women's Apparel                 14          505             15
(MEILUN)Men's Fashion                    5           81              9
1989minishop                           569        39376           1934
5ngyzt5ebj                             264        10800            530
...                                    ...          ...            ...
zhufeng2.ph                             14         1375             67
â­ï¸Pink Star Korea Fashion          144        16561            457
å°é¾ä¸åââæ¥ç¨ç¾è´§           0            2              0
ð¿ Peppermint Shop                    71         6026            185
ðTrendy girlð                      0           96              0

[391 rows x 3 columns]

In [66]:
data.groupby('join_year')['shopid'].count()

join_year
2015      4
2016     27
2017    156
2018     87
2019    106
2020    247
2021    119
Name: shopid, dtype: int64